body
{
    background-color: rgb(18, 102, 197);
    background-size: cover;
}

.illustration
{
    position: absolute;
    top: 20%;
    left: 40%;
}

.hair
{
    position: absolute;
    top: 0px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: brown; 
}

.face
{
    position: absolute;
    top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(252, 212, 153);
}

.eyes
{
    position: absolute;
    top: 80px;
    width: 50px;
    height: 80px;
    border-radius: 50%;
    border-color: black;
    background-color: azure;
}

.inner-eyes
{ 
    position: absolute;
    top: 30px;
    left: 5px;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

.mouth
{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 100px;
    height: 50px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background-color: red;
}