.enlarge {
      font-size: 14px;
      transition: {
        property: font-size;
        duration: 4s;
        delay: 2s;
      }
    
      &:hover { font-size: 36px; }
    }


    $rounded-corners: false;

    .button {
      border: 1px solid black;
      border-radius: if($rounded-corners, 5px, null);
    }