
body{
    text-align:center;
    font-family: cursive;
    color: black;
    font-size: 50px;
    box-shadow: -20px 20px  10px rgba(0,0.8,0,0.5);
}
.heading{
  box-shadow: 20px 20px  10px 20px rgba(0,0,0,0.5);
}
.blur_effect {
    filter: grayscale(70%);
    border-radius: 50%;
    width: 600px;
}
