body {
    background-color: #2f3742;
    color: #dfe0e4;
    font-family: cursive;
}

h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px pink, 0 0 20px pink, 0 0 25px pink, 0 0 30px pink, 0 0 35px pink;
}
