body{
      background-color: #a29bfe;
}
.cards{ 
      border: 1px solid tomato ;
      width: 200px;
      height: 200px;
      margin:auto;
      background-color: #6c5ce7;
      text-align: center;
}

.para{
      text-align: center;
      color: tomato;
}