main {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 10px auto;
}

  a {
    color: #a00;

    &:hover {
      text-decoration: none;
    }
  }

 p {
    text-align: center;
  }

  p {
    font-weight: bold;
  }

.container {
  width: 400px;
  height: 400px;
  margin: 10px auto;
  border: solid 1px #ccc;
  background: url("me.jpeg");
}
  div {
    filter: sepia(75%);
    height: 100%;
    width: 10%;
    max-width: 99%;
    resize: horizontal;
    // border-right: solid 1px #ccc;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: preview;
    background: url("me.jpeg");
}
    &::after {
      content: ' ';
      position: absolute;
      width: 1em;
      height: 1em;
      background: black;
      bottom: 0;
      right: 0;
      border: solid 1px white;
      border-right: 0;
      border-bottom: 0;
      cursor: col-resize;
}

@keyframes preview {
    0% {width: 10%;}
    50% {width: 90%;}
    100% {width: 10%;}
}
