h1{
  font-family: cursive;
  color: blue;
}
.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  margin: auto;
  background-color: black;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}
.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
}
