h1{
  color: black;
  text-align: center;
  font-family: cursive;
}
body {
	background: linear-gradient(-45deg, #e73c7e, #23a6d5);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
