.cubef1 {
    width: 150px;
    height: 80px;
    background: black;
    transition: width 5s;
    transition-timing-function: cubic-bezier(0.3, 0.7, 1.0, 0.1);
}
h3{
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
}

div:hover {
    width:300px;
}
.cubef {
    font-size:40px;
    font-weight:bold;
    color:blue;
    text-align:center;
    font-family: cursive;
    background-color: brown;
    box-shadow: -20px 20px  10px rgba(0,0,0,0.5);
    margin-bottom: 30px;
    padding-bottom: 10px;
}
