body {
    background: linear-gradient(to right, #e67e22, #e74c3c);
  }
  
  .wrapper {
    background: linear-gradient(to right, #e67e22, #e74c3c);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    height: 90vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 80%;
    margin: 25px auto;
  }
  
  .title-container {
    height: 15vh;
    background-size: cover;
    text-align: center;
  }
  
  .title-container__title {
    font-size: 50px;
    letter-spacing: 2px;
  }
  
  .form-container {
    background-color: #2c3e50;
    height: 70vh;
    padding-top: 50px;
    padding-left: 50px;
  }
  