
$selector: selector-append("a",".active");
#{$selector}{
font-size: 25px;
color:red;
font-style:bold;
}


@use "sass:meta";

body.dark {
  @include meta.load-css("dark-theme/code",
      $with: ("border-contrast": true));
}


@debug string.quote(Helvetica);