html, body {
      margin: 0;
      padding: 0;
    }
    
    .pic{
          height: 400px;
          width: 30vw;
          border: 1px solid white;
          border-radius: 500px;
    }
    
    @keyframes display {
      0% {
        transform: translateX(200px);
        opacity: 0;
      }
      10% {
        transform: translateX(0);
        opacity: 1;
      }
      20% {
        transform: translateX(0);
        opacity: 1;
      }
      30% {
        transform: translateX(-200px);
        opacity: 0;
      }
      100% {
        transform: translateX(-200px);
        opacity: 0;
      }
    }
    
    .pic-ctn {
      position: relative;
      width: 30vw;
      height: 400px;
      margin: auto;
    }
    
    .pic-ctn > img {
      position: absolute;
      top: 30px;
      opacity: 0;
      animation: display 10s infinite;
    }
    
    img:nth-child(2) {
      animation-delay: 2s;
    }
    img:nth-child(3) {
      animation-delay: 4s;
    }
    img:nth-child(4) {
      animation-delay: 6s;
    }