
@media screen and (min-width: 480px) {
    div {
        float: left;
        background: black;
    }
    * {
        background: silver
    }

}
.box1
 {
    background-color: black;
    text-align:center;
    margin-bottom: 30px;
    box-shadow: -20px 20px  10px rgba(0,0,0,0.5);
}

.box1 > div {
background-color: pink;
  width: 100px;
  height:100px;
  margin: 10px;
  font-size: 30px;
  padding-top: 30px;
  }
.box
{
  font-size:50px;
  text-align:center;
  color:purple;
  font-weight:bold;
  font-family: fantasy;
  margin-bottom: 50px;
  box-shadow: -20px 20px  10px rgba(0,0,0,0.5);
}
