body{
      background-color:#fd79a8;
}

.para{
      text-align: center;
      color: #dfe6e9;
}

.cards{ 
      border: 1px solid #dfe6e9;
      width: 200px;
      height: 200px;
      background-color:#686de0;
      text-align: center;
}

.cd1{
      float: left;
}

.cd2{
      float: right;
}

