body {
    background: linear-gradient(to right, #e67e22, #e74c3c);
  }
  
  .wrapper {
    background: linear-gradient(to right, #e67e22, #e74c3c);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    height: 90vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 80%;
    margin: 25px auto;
  }
  
  .title-container {
    height: 15vh;
    background-size: cover;
    text-align: center;
  }
  
  .title-container__title {
    font-size: 50px;
    letter-spacing: 2px;
  }
  
  .form-container {
    background-color: #2c3e50;
    height: 70vh;
    padding-top: 50px;
    padding-left: 50px;
  }
  input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #f16051;
    width: 30%;
    padding-bottom: 4px;
    color: #fff !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    outline: none;
  }
  
  button {
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #f16051;
    color: #fff;
    font-weight: 100;
    outline: none;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .weather__info {
    width: 60%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  
  .weather__key {
    color: #f16051;
    border-bottom: solid 2px rgba(255, 255, 255, 0.06);
    padding: 20px 0 20px 0;
    font-weight: 400;
  }
  
  .weather__key:last-child {
    border: 0;
  }
  
  .weather__value {
    color: #fff;
    font-weight: 200;
  }
  
  .weather__error {
    color: #f16051;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
  }